@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@500&family=Zen+Antique+Soft&display=swap');
:root{
    --primary-color: #831843;
    --pink : #FCE7F3;
}

body{
    background-color: var(--pink) ;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
    
}

input
label{
    display: block;
}

input{
    margin: 0.5rem;
    width: 100%;

}

#check-number{
    margin: 0.5rem;
    display: block;
    margin:auto;
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
    border-width: medium;
    padding: 0.5rem;
}